

.innerContainer {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 100px .6rem;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;

}

.animationsContact {
    width: 300px;
    height: 240px;
    /* background-color: white; */
    border-radius: 1.2rem;
}

.socialContainer {
    margin-top: auto;
}


.contactForm {
    border-radius: 1rem;
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 700px;
    row-gap: .2rem;
    position: relative;
    background: var(--highlight-Text);
   /* background-color: var(--border-light); */
}

.contactForm::after {
    position: absolute;
    content: '';
    inset: var(--border-width-c);
    border-radius: .9rem;
    background: var(--primary-background);
/*    background-color: rgba(226, 226, 226, 0.948); */

   backdrop-filter: blur(50px);
    z-index: 1;
}

.contactForm::before {
    position: absolute;
    content: '';
    inset: 2px;
    border-radius: .9rem;
    /* background: var(--gradient-card); */
    z-index: 2;
}


.inputContainer {
    position: relative;
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.label {
  
    font-size: 1.1rem;
    color: rgb(26, 26, 26);
    padding-left: .2rem;
    pointer-events: none;
    transition-duration: .3s;
    letter-spacing: .04rem;
    margin-bottom: .5rem ;
} 

.inputField {
    min-width: 300px;
    max-width: 100%;
    padding: .7rem .4rem .7rem 2.4rem;
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
    border: none;
    font-size: 1.1rem;
    background-color: var(--card-light);
    opacity: .8;
    border-radius: .6rem;
    font-family: var(--font-mono);
    position: relative;
 
}

.inputField:focus {
    outline: none;
}

/* Platzhaltertext für E-Mail-Feld */
.inputField::placeholder {
    font-size: .9rem;
    color: #1b0cef94;
    font-style: italic;
  /*   padding-left: 2.2rem; */
}

.iconInput {
    
    position: absolute;
    top: 2.3rem;
    left: .6rem;
    width: 1.8rem;
    height:1.8rem;
    padding: .3rem;
    color: var(--new-highlight);
    transition-duration: .3s;
    opacity: 1;
    z-index: 5;
    overflow: auto;
    pointer-events: none;
}


.buttonContainer {
    z-index: 4;
    display: flex;
    justify-content: center;
    padding-top: 0rem;
}

@media (min-width:880px ) {
    .inputField {
        min-width: 380px;
    }
}

@media (max-width: 700px) {
    .label {
        letter-spacing: .06rem;
    }

    .animationsContact {
        margin-inline: auto;
    }

    .callButtonContainer {
        margin-inline: auto;
    }

    .innerContainer {
        flex-direction: column;
        row-gap: 100px;
        
    }
}