/* .container {

} */

.innerContainer {
    max-width: var(--max-width);
    margin: auto;
    padding: 100px .6rem;
}



.imgTextContainer {
   
}

.imgContainer {
    position: relative;
    max-width: 350px;
    min-width: 310px;
    min-height: 400px;
    max-height: 400px;
    border-radius: 50%;
}

.img {
   /*  border-radius: 50%; */
    border-radius: 1.3rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
   /*  filter: grayscale(1); */
    box-shadow: 0 70px 63px -60px #000000;
    z-index: 4;
}

.imgContainer::after {
    position: absolute;
    content: '';
   /*  width: 98%;
    height: 98%; */
    border: 1px solid white;
    inset: 4px;

    z-index: 5;
    background-color: transparent;
    border-radius: 1.1rem;
  /* border-radius: 50%; */
}

.textContainer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.aboutTextContainer {
    max-width: 65ch;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.aboutText {
    font-weight: 400;
    font-size: 1.1rem;
    /* text-align: start; */
}


@media (max-width: 700px) {
    .innerContainer {
        /* padding: 50px .6rem; */
        padding: 50px 1rem;
    }
    .imgTextContainer {
        flex-direction: column;
        align-items: center;
        row-gap: 100px;
       /*  padding: 50px .6rem; */
    }
  /*   .titleAbout {
        text-align: center;
    } */

  /*   .textContainer {
        text-align: center;
    } */
}

