.container {
    background-color: var(--dark-background);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    /* border-top: 1px solid var(--border-light); */
    min-height: 200px;
}