.container {
    background-color: rgb(77, 28, 255);
    min-height: 500px;
    padding: 100px 1rem ;
}

.slider {
    background-color: rgb(99, 56, 252);
    padding: .5rem;
    display: flex;
    column-gap: 1rem;
    max-width: 100%;
    overflow-x: scroll;
}

.elem {
    background-color:  aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem ;
    min-width: 400px;
    height: 200px;
}