.container {
    background-color: rgb(62, 16, 250);

    padding: 250px .4rem ;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
   /*  background-color: rgb(99, 56, 252); */
    padding: 1rem 0;
    display: flex;
    column-gap: 2rem;
    max-width: 100%;
}

.elem {
 /*    background-color:  rgb(59, 5, 255); */
    padding: 1rem 0;


}

.iMG {
    object-fit: contain;
    width: 300px;

}

