.page {

    padding: 100px 2rem;
    width: 100%;
}

.innerContainer {
    max-width: 1100px ;
    width: 100%;
    margin-inline: auto;
}

.singleContainer {
    background-color: rgb(232, 229, 255);
    margin-bottom: 3rem;
    display: flex;
    column-gap: 1.8rem;
    border-radius: 1rem;
    width: 100%;
    transition-duration: .4s;

}

.textContainer {
    
    padding: 1rem 1rem;
    width: 50%;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}
.textContainer h2 {
    background-color: rgba(22, 5, 255, 0.06);
    padding: .5rem .8rem;
    border-radius: .6rem;
}
.textContainer p {
    padding-inline: .6rem;
}

.imgContainer {
    overflow: hidden;
    width: 50%;
    border-radius: 1rem 0 0 1rem;
}

.img {
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    .singleContainer {
        flex-direction: column;
        height: clamp(300px , 350px , 500px);
    }
    .textContainer {
        width: 100%;
    }
    .imgContainer {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    
}