.container {

    background: var(--background-dark-g);
  /*   background-attachment: fixed;  */
  /*   object-fit: cover; */
    color: aliceblue;
    position: relative;

}
.innerContainer {
   max-width: 900px;
    margin-inline: auto;
    padding: 100px .6rem ;
    z-index: 4;
    position: relative;

}

.title {
    color: aliceblue !important;
}


.textContainer {
    margin-bottom: 1rem;
    color: aliceblue;
    outline: none ;
    border: none ;
    border-top: 1px solid var(--border-light);
    font-size: 1.1rem;
    font-family: var(  --font-mono);
    font-weight: 100;

}

.answer {
    font-family: var(--inter-var);
   font-weight: 300;
}

.questionContainer {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    font-family: var(--font-mono) !important;
    cursor: pointer;
    padding: .8rem 0;
    color: aliceblue;
    border-radius: .2rem;
    transition-duration: .4s;
}

.questionContainer:active {
    background-color: transparent !important;
    transition-duration: 2s !important;
}


.textUnderTitle {
    padding: .6rem 0 2rem;
    font-size: 1.6rem;
}


@media (max-width: 768px) {

    .textUnderTitle {
        font-size: 1.2rem;
    }
    .questionContainer {
        font-size: 1.1rem;
    }
    .textContainer {
        font-size: 1rem;
    }
}