.container {
    padding: 100px 0;
    width: 100%;
    background: var(--highlight-Text);
} 
.titleContainer {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 0 var(--padding-mob) 50px;

}
.titleContainer h1 {
  color: aliceblue;
}

  
  .textContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    column-gap: 1.2rem;
    scrollbar-width: none; 
    padding: 0 1rem 70px;
    scroll-padding-left: var(--padding-mob);

  }


  .textContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
/*   .textContainerScroll {


  } */
  
  .textItem {
    position: relative;
    min-height: 400px;
    max-width: 410px;
    min-width: 320px; 
    max-height: 500px;
    scroll-snap-align: start;
    border-radius: 1.2rem;
    flex-shrink: 0;
    transition-duration: .3s;
    background-color: rgb(95, 20, 246);
    padding: 1.5rem .7rem 0;
    overflow: hidden;
    box-shadow: 0 40px 50px -40px #000000;
/*     pointer-events: none; */
 /*    overflow-y: scroll; */
   
  }
  .overShadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(
  0deg,
  rgba(31, 0, 13, 0.336) 0%,
  hsla(250, 100%, 15%, 0) 98%,
  hsla(257, 100%, 17%, 0) 100%
);
pointer-events: none;

  }
  .imageContainer {
    width: 100%;
    overflow-y: auto;
    max-height: 100%;
    border-radius: .6rem;
  }

 .refImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: .6rem;

 }

 


  .buttonsContainer {

    display: flex;
    column-gap: 1.5rem;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 0 var(--padding-mob);

   
  }
  
  .scrollButton {
    border-radius: 50%;
    font-size: 2.3rem;
    border: none;
    background: transparent;
   /*  border: 2px solid black; */
   background-color: rgba(4, 4, 4, 0.511);
    color: #fff;
    /* bottom: calc(50% - 1.05rem); */
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    cursor: pointer;
  }
  .scrollButton:hover {
    background-color: #000;
  }

  .scrollButtonLeft.disabled,
  .scrollButtonRight.disabled {

    opacity: 0.2;
    cursor: none;
  }

  .arrowR {
    transform: translateX(2px);
  }
  .arrowL {
    transform: translateX(-2px);
  }


  @media (max-width: 700px) {
    .textContainer {
    
      scroll-padding-left: var(--padding-mob);
      
    }
    
    .textItem {
      max-height: 450px;
    }
    .container {
      padding: 50px 0;
    }
  }

  @media (min-width: 720px) {
    .textContainer {
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      touch-action: pan-x;
    }
  }