.textContainer {
     display: flex;
     flex-direction: column;
     row-gap: 2rem;
     justify-content: center;
     min-height: 100vh;
     min-height: 100svh;
     max-width: 100%;
     overflow-wrap: break-word;
     padding: 0 .6rem 0 0;
     position: relative;

 
 }

 .title {
    background-image:linear-gradient(60deg, #000000, #afafaf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2.4rem;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    z-index: 5;
  
 

 }
 
 .p {

     transition-duration: .2s;
     transition-timing-function: ease-out;
     max-width: 100%;
     font-size: 1.3rem;
     z-index: 4;

 }

 .highlight {
    color : #000;
    transition-duration: .6s;

 }

 .light {
  
  transition-duration: .4s;
 }

 @media (max-width: 700px) {

   .textContainer {
     
      min-height: fit-content;
      z-index: 5;
      padding: 2rem .9rem;
      border-radius: 1rem;
      background: var(--card-light); 
      position: sticky;
      top: 90px;
     /*  border: 1px solid rgba(240, 248, 255, 0.618); */
     border: 1px solid rgba(86, 82, 118, 0.125);
      color: rgb(86, 82, 118);
 /*      backdrop-filter: blur(6rem);
      -webkit-backdrop-filter: blur(6rem);    */   
     
   }
   .textContainer:first-child {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
   }
 

   .textContainer:nth-child(2) {
      top: 97px;
   }
   .textContainer:nth-child(3) {
      top: 104px;
   }
   .textContainer:last-child {
      top: 111px;
   }
   


   .textContainer.sticky {
      transform: scale(0.7); 
    }




   .p {
      text-align: start;
      font-size: 1.1rem;

     /*  background-image:linear-gradient(60deg, #d3daff, #eed7fc 100%); */
     background-image:linear-gradient(60deg, black, rgb(86, 82, 118) 100%);
   /*  background: black; */

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

   
   }
   .title {
      font-size: 2rem;
      padding-bottom: .6rem;
      background-image:linear-gradient(60deg, black, rgb(86, 82, 118) 100%);
    
 
   }
 }

 @media (max-width:600px) {
   .textContainer {
      height: clamp(400px, 500px, 750px); 
      row-gap: 1.2rem; 
      padding: 2rem .9rem;
     }
     .title {
      font-size:clamp(1.2rem, 1.7rem, 2rem); ;
     }

 }