.textContainer {
     display: flex;
     flex-direction: column;
     row-gap: 2rem;
     justify-content: center;
     min-height: 100vh;
     min-height: 100svh;
     max-width: 100%;
     overflow-wrap: break-word;
     padding: 0 .6rem 0 0;
     position: relative;

 
 }

 .title {
    /* background-color: red; */
    background-image:linear-gradient(60deg, #000000, #afafaf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2.4rem;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    z-index: 5;
 

 }
 
 .p {

     transition-duration: .2s;
     transition-timing-function: ease-out;
     max-width: 100%;
     font-size: 1.3rem;
     z-index: 4;

 }

 .highlight {
    color : #000;
    transition-duration: .6s;

 }

 .light {
    /* color : rgb(0, 0, 0); */
   /*  min-height: 200px; */
  /*   transform: scale(.7); */
  transition-duration: .4s;
 }

 @media (max-width: 700px) {
   .light {

      transform: translateY(6rem);
      opacity: .2;
      
   }
   .textContainer {
      max-height: fit-content;
      min-height: auto;
      z-index: 5;
      padding: 2rem .9rem;
      border-radius: 1rem;
      background: var(--card-light); 
   }




   .p {
      text-align: start;
      font-size: 1.1rem;
    /*   color: aliceblue; */
      /* color: var(--primary-background); */
   
   }
   .title {
      font-size: 2rem;
    /*   border-bottom: 1px solid var(--border-light); */
      padding-bottom: .6rem;
      /* color: var(--primary-background); */
   }
 }