.container {
    position: fixed ;
   /*  position: sticky; */
   width: 100%;
    top: 0px;
    background-color: rgba(226, 228, 254, 0.429);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px) ;
    border-bottom: 1px solid var(--border-light);
    z-index: 10;
}
.logButContainer {
    margin-inline: auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem .6rem;
}

.logo {
    font-size: 30px;
    color: var(--dark-background); 
}

.progressBar {
    /* background-color: black; */
    width: 100%;
    height: 6px;
   /*  border-bottom: 1px solid var(--border-light); */
}

.bar {
    height: 100%;
  
    background: #ffffffa4;
/*     width: 100%; */

/*     transform-origin: 0%; */
 
}

.barT {
    transform-origin: 0%;
    /* background: var(--highlight-color); */
    background: black;
    /* border-radius: 25px; */
 
    width: 100%;
    height: 6px;
}