.stairs{

    top: 0;
  
    left: 0;
  
    position: fixed;
  
  /*   z-index: 15; */
  
    height: 100vh;
  
    display: flex;
  
    transition: all 2s;
  
    pointer-events: none;
   /*  background-color: rgba(10, 6, 251, 0.51); */

  }
  
  .stair{
  
    width: 20vw;
  
    height: 100%;
  
   /*  background-color: rgb(255, 255, 255); */
   background: linear-gradient(to bottom , var(--new-highlight) , var(--new-sec));

    border-bottom: 9px solid var(--new-highlight);
  }
  
  
  
  .background{
  
    width: 100%;
  
    height: 100%;
  
    position: absolute;
  
/*     background-color: rgba(7, 7, 7, 0.296); */
  
  }

  .test {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);


  }
  