

:root {
  --max-width: 1200px;
  --primary-background:rgb(244, 245, 255);

  --dark-background: #000000;
  --text-light: #E2E2E2 ;
  --text-dark: #000000;
  --highlight-secondary: rgb(201, 232, 90);
  --highlight-color: var(--new-highlight);
  --border-radius: 12px ;
  --border-light: #cccccc;

   --highlight-Text: linear-gradient(60deg, var(--new-highlight) , var(--new-sec) );
  /* --highlight-Text: linear-gradient(35deg,  #4103dd,#6e00bc , #ea0775); */

  --new-highlight: #4520fc;
  --new-sec : rgb(143, 108, 255);
  --card-light : rgb(226, 228, 254);

  --new-graadient : linear-gradient(35deg,   rgb(143, 108, 255),  #4900ff,#FE2F6A);

  --padding-mob: 1rem;
  --border-width-c: 2px;



  --phone-r:600px;
  --section-pacingD: 100px;
  --section-pacingM: 50px;

  --gradient-card: linear-gradient(58deg, #00000008 25%, rgb(255, 255, 255) 45%, #00000061 80%);

--border-gradient: linear-gradient(30deg, rgb(245, 221, 4) 18%, rgb(56, 227, 164) 52%, rgb(255, 176, 79) 94%);


/*   --font-mono: Inter,'Inter' , HelveticaNeue, 'Helvetica Neue', ui-monospace, Display, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono',  monospace; */

  }


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-background);
}

body {
  max-width: 100vw;
  background-color: var(--primary-background);
  scrollbar-width: none;
  font-family: var(--inter-var);
  font-weight: 400;
 /* Firefox */
}


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


h1 ,h2 ,h3 {
  font-weight: 500;
}
