.container {
    font-size: 2rem;
    min-height: 400vh;
    padding-top: 100px;
    padding-inline: 0;

}

.innerContainer {
    background-color: rgb(159, 210, 255);
    padding: 600px 0;

}

.slider {
    display: flex;
}

.elem {
    background-color: aliceblue;
    width: 300px;

}