.container {
    font-size: 2rem;
    min-height: 100vh;
    padding-top: 100px;
    padding-inline: 1rem;

}

.innerContainer {
    color : var(--new-highlight);
    padding: 100px 0;


}


.high {
    color : var(--new-highlight);
    color : red ;
    filter: saturate(1);
}

.big {
    font-size: 100px;

}
