.container {
  
    /*     background: linear-gradient(180deg,#C9E300 20%,rgba(104, 252, 19, 0.002) 100%); */
        /* background: var(--highlight-Text); */
  
        position: absolute;
        inset: 0;
        border-radius: 1rem;
        padding: 1rem;
        color: black;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      /*   transition-duration: .5s; */
  /*       border: 2px solid black; */
}

.show {
    opacity: 1;
   
}
.hide {
    opacity: 0;
}


.animationContainer {
    position: absolute;
    width: 100% ;
    border-radius: .8rem;
    transition-duration: .4s;
}

@media (max-width: 700px) {
    .container {
    
        top: 200px;
    }

}