.container {
    font-size: 2rem;
    padding-top: 10px;
}

.refContainer {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    padding: 100px 0;
} 
.stickyChild {
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
    
    position: sticky;
    top: 40%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
   /*  border-radius: 25px; */
    padding: 0 10px;
    overflow-y: hidden;
 /*    transform: rotate(270deg); */
}

.childBar {
    width: 100%;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.767);
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: rgba(3, 3, 3, 0);
    border-bottom: .5px dashed rgb(255, 17, 17);
   /*  border-top: .5px solid aliceblue; */
    position: relative;
}

.abLine {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(60, 1, 137, 0);
    display: flex;
    justify-content: space-between;
}

.siLine {
    width: 25% ;
    background-color: rgba(187, 187, 187, 0);
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.stamps {
    width: .5px;
    height: 30%;
    background-color: black;
}
.stampsB {
    width: 2px;
    height: 60%;
    background-color: rgb(247, 75, 75);
}


/* 
.progressBar::after {
    position: absolute;
    top:25px;
    content: '';
    width: 100%;
    height: 60%;
    background-color: rgba(62, 62, 62, 0.334);
    border-top: 1.2px dotted black;
    border-bottom: 1.2px dotted black;
    z-index: 1;
} */

/* .progressBar::before {
    position: absolute;
    left: 30%;
    top: 0;
    content: '';
    width: 1px;
    height: 40px;
    background-color: rgb(249, 66, 66);
    z-index: 2;
} */


.barT {
    transform-origin: 0%;
    background: rgba(240, 248, 255, 0);
    width: 100%;
    height: 12px;
    position: relative;
    border-radius: 2px;
    z-index: 4;
}

.barT::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -2px;
    width: 5px ;
    height: 50px;
 
    background-color: rgb(255, 64, 0);
}













.li {
    background-color: rgba(190, 44, 44, 0);
    height: 80vh;
    overflow-y: auto;
    position: relative;
    overscroll-behavior: none;
}
.lic {
    background-color: rgba(224, 224, 224, 0);
    min-height: 360vh;

}