.container {
    font-size: 2rem;
    padding-top: 10px;
}

.refContainer {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
   /*  padding: 100px 0; */
} 
.stickyChild {
    background-color: rgba(0, 0, 0, 0.747);
    position: sticky;
    top: 30%;
    /* bottom:40%; */
    display: flex;
    align-items: center;

    border-radius: 25px;
    padding: 0 0px;
    
    flex-direction: column;

}

.childBar {
    width: 100%;
    background-color: rgba(16, 16, 16, 0);
}

.progressBar {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 217, 4, 0);
    border-bottom: .5px dashed rgb(224, 255, 47);
   /*  border-top: .5px solid aliceblue; */
    position: relative;
}

.abLine {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(60, 1, 137, 0);
    display: flex;
    justify-content: space-between;

}

.siLine {
    width: 25% ;
    background-color: rgba(187, 187, 187, 0);
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid rgb(196, 247, 75);
    border-right: 1px solid rgb(196, 247, 75);
}

.stamps {
    width: 1px;
    height: 30%;
    background-color: black;
}
.stampsB {
    width: 2px;
    height: 65%;
    background-color: rgb(196, 247, 75);
}







.li {
    background-color: rgba(190, 44, 44, 0.032);

    height: 100vh;
    overflow-y: scroll;
 /*    overscroll-behavior: none; */
}
.lic {
    background-color: rgba(88, 248, 24, 0);
    min-height: 600vh;
    position: relative;

}


.animatedLineWrapper {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 20px;
    position: relative;
}

.animatedLine {
    width: 1px;
    height: 70px;
    background-color: rgb(225, 255, 0);
    position: absolute;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(.09,.93,.73,1.2);
}

.animatedLine::after {
    padding-left: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    content: 'zeit';
    color: aliceblue;
}



.placeHolder {
    background-color: rgb(28, 28, 28);
    min-height: 150vh;
}