.contactButton {
  /*   color: var(--dark-background); */
    border: none ;
    color: aliceblue;
    border-radius: 2.5rem;
    background: var(--highlight-Text);
    padding: 1rem 2rem;
    cursor: pointer;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    column-gap:.5rem;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    transition-duration: .3s;
    z-index: 5;
}

.time {
  font-size: 1rem;
  display: block;
}



.contactButton{
    background: linear-gradient(238deg,#d21c97,#5805f9,#6b05f9);
    background-size: 150% 150%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.contactButton:hover {
    padding-inline: 1.3rem;
 /*   outline: 1px solid var(--dark-background); */
   
}

  .span {

    transform: scale(.7);
    opacity: .6;
}


.contactButton:hover .span {
    opacity: 1;
    transform: scale(1);
  }

  .icon {

    transition-duration: .4s;

  }

  .contactButton:hover .span .icon {
  transform: rotate(360deg);
  }

  @media (max-width: 650px) {
    .contactButton {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
  .contactButton {
      font-size: 1rem;
      padding: 1rem 1.3rem;
  }
}


