.cardContainer{
/*     height: 700px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 100px;
    width: 100%;
    padding: 50px 0;
  }

  .card{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 480px;
    width: 100%;
    border-radius: 1rem;
    padding:4rem 2rem 3rem;
    transform-origin: top;
    overflow: hidden;
    color: black;


   
  }

  .card  h1{
    font-size: 1.7rem;
    z-index: 5;
  }

  .body{
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    padding-top: 1.7rem;
  }

  .description{
    position: relative;
    font-size: 1.1rem;
/*     top: 10%; */
  }

  @media (max-width: 700px) {
    .description{
        width: 100%;
    }
    .card {
        padding: 3rem 1.5rem 3rem;
      
    }
  }

  .cardBackground {
    /* background-color: rgb(1, 24, 48); */
    background: linear-gradient(to bottom,rgb(150, 146, 254),rgb(198, 202, 248),  rgb(209, 213, 255));
    position: absolute;
    inset: 0;
    z-index: 0;
  }