.container {
    min-height: 100vh;
    padding-top: 100px;
}

.innerContainer {
    max-width: 900px;
    margin-inline: auto;
    padding-inline: 1rem;
    overflow-x: hidden;
}

.texts {
    display: flex;
    row-gap: 2rem;
    justify-content: space-evenly;
    column-gap: 5rem;
    border-bottom: 1px solid var(--border-light);
    padding: 3rem 0;
}

.texts div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.block {
    padding: 50px 0;
    border-bottom: 1px solid var(--border-light);
}

.block p {
    margin-bottom: 1rem;
}

.block h2 {
    padding: 2rem 0;
}